<% include ./partials/head %>

    <body>
        <ul class="nav nav-tabs">
            <li role="presentation" class="navbar-right"><a href="/user/logout" class="navbutton">LOGOUT</a></li>
            <li role="presentation" class="navbar-right"><a href="/user/profile" class="navbutton">PROFILE</a></li>
            <li role="presentation" class="navbar-right"><a href="/user/play" class="navbutton">PLAY</a></li>
        </ul>
    <% include ./partials/image %>

        <div style="margin-top: 20px;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel-heading">
                    <h1 class="panel-title" style="font-size:40px;">Create Room</h1>
                </div>
                <div class="panel-body">

                    <form class="form-signin" method="post" action="/user/createroom">
                        <label>Map</label>
                        <br/>
                        <select class="selectpicker" id="mapselect" name="map" onchange="loadImage()">
                          <% if (typeof maps != 'undefined'){ %>
                            <% for (var i = 0; i < maps.length; i++){ %>
                              <option><%= maps[i]['displayName'] %></option>
                            <% } %>
                          <% } %>
                        </select>
                        <br/>
                        <br/>
                        <label style="margin-top: 15px;">Map Preview:</label><br>
                        <div class="row">
                            <img style="margin-top: 15px;" id="thumbnail" width="75%" height="75%" src="../maps/circular_war.jpg">
                        </div>
                        <br/>

                        <label style="margin-top: 15px;">Sprint Distance</label>
                        <br/>
                        <select class="selectpicker" name="sprintDistance">
                          <option>3</option>
                          <option>5</option>
                          <option>7</option>
                          <option>9</option>
                        </select>
                        <br/>
                        <br/>
                        <label style="margin-top: 15px;">Sprint Cooldown</label>
                        <br/>
                        <select class="selectpicker" name="sprintCD">
                          <option value="1">1s</option>
                          <option value="3">3s</option>
                          <option value="5">5s</option>
                          <option value="10">10s</option>
                        </select>

                        <input type="submit" class="btn btn-block mybutton" value="Create" />
                    </form>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery/jquery-1.11.1.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="/js/createroom.js"></script>
    </body>

</html>
