<% include ./partials/head %>
    <body>
        <ul class="nav nav-tabs">
            <li role="presentation" class="navbar-right"><a href="/user/logout" class="navbutton">LOGOUT</a></li>
            <li role="presentation" class="navbar-right"><a href="/user/profile" class="navbutton">PROFILE</a></li>
            <li role="presentation" class="navbar-right active"><a href="/user/leaderboard" class="navbutton">Leaderboard</a></li>
            <li role="presentation" class="navbar-right"><a href="/user/play" class="navbutton">PLAY</a></li>
        </ul>
        <% include ./partials/image %>

        <div align="center">
          <h1 class="panel-title" style="font-size:40px;">Leaderboard</h1>
          <% if (typeof maps != 'undefined'){ %>
            <% for (var i = 0; i < maps.length; i++){ %>
              <% if (i == 0) {%>
                <button class="btn mybutton" id="firstmap"><%= maps[i] %></button>
              <% } else {%>
                <button class="btn mybutton"><%= maps[i] %></button>
              <% } %>
            <% } %>
          <% } %>
        </div>
        <div style="margin-top: 20px;">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel-body">
                    <div id="hidden" style="visibility:hidden;">
                        <h3 style="text-align: center;">Cruel Killers</h3>
                        <table class="table hoverTable">
                            <thead class="blueHead">
                                <tr>
                                    <th>Name</th>
                                    <th>Kill Numbers</th>
                                </tr>
                            </thead>
                            <tbody id="kill">
                            </tbody>
                        </table>
                        <h3 style="text-align: center; margin-top:40px;">Greedy Enclosuers</h3>
                        <table class="table hoverTable">
                            <thead class="blueHead">
                                <tr>
                                    <th>Name</th>
                                    <th>Enclosed Area</th>
                                </tr>
                            </thead>
                            <tbody id="enclosure">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/jquery/jquery-1.11.1.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("button").click(function() {
                  var that = this;
                    $.get("/user/getLeaderboard", {
                        map: $(this).text(),
                    }, function(data) {
                        var enc = $("#enclosure");
                        var killer = $("#kill");
                        enc.empty();
                        killer.empty();
                        for (var i in data.killer) {
                            var tr = $("<tr>");
                            var td = $("<td>").text(data.killer[i].name);
                            tr.append(td);
                            td = $("<td>").text(data.killer[i].number);
                            tr.append(td);
                            killer.append(tr);
                        }
                        for (var i in data.enclosure) {
                            var tr = $("<tr>");
                            var td = $("<td>").text(data.enclosure[i].name);
                            tr.append(td);
                            td = $("<td>").text(data.enclosure[i].number);
                            tr.append(td);
                            enc.append(tr);
                        }
                        $("#hidden").removeAttr("style");
                        $(".mybutton").removeClass("activebutton");
                        $(that).addClass("activebutton");
                    });
                });
                $("#firstmap").click();
            });
        </script>
    </body>

</html>
