<% include ./partials/head %>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="navbar-right"><a href="/user/logout" class="navbutton">LOGOUT</a></li>
        <li role="presentation" class="navbar-right active"><a href="#" class="navbutton">PROFILE</a></li>
        <li role="presentation" class="navbar-right"><a href="/user/leaderboard" class="navbutton">Leaderboard</a></li>
        <li role="presentation" class="navbar-right"><a href="/user/play" class="navbutton">PLAY</a></li>

    </ul>
    <% include ./partials/image %>

    <h2 class="text-center" >Hello, <%= username %>!</h2>
    <div align="center" style="margin-top:20px;">
    <form class="form-signin" method="post" action="/user/profile">
        <label style="margin-top:0;">Change Username:</label>
        <input class="form-control inlineblock" maxlength="20" name="username" type="text" value="<%= username %>" required />
        <input type="submit" class="btn mybutton" style="margin-top:0;" value="UPDATE"/>
    </form>
  </div>

    <div style="margin-top: 20px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div>
                    <h3 style="text-align: center;">Personal Bests</h3>
                    <table class="table hoverTable">
                        <thead class="blueHead">
                            <tr>
                                <th>Map Name</th>
                                <th>Max Kill Numbers</th>
                                <th>Max Enclosed Area</th>
                                <th>Max Survived Time</th>
                            </tr>
                        </thead>
                        <tbody id="stats">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
      $.get("/user/getPersonalBests", function(data) {
        var tbody = $("#stats");
        for (var i in data) {
          var tr = $("<tr>");
          tr.append($("<td>").text(data[i].name));
          tr.append($("<td>").text(data[i].number));
          tr.append($("<td>").text(data[i].percentage));
          tr.append($("<td>").text(data[i].time));
          tbody.append(tr);
        }
      });
    </script>
</body>

</html>
