<% include ./partials/head %>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="navbar-left active"><a href="#" class="navbutton">QUICK GAME</a></li>
        <li role="presentation" class="navbar-right"><a href="/user/register" class="navbutton" >REGISTER</a></li>
        <li role="presentation" class="navbar-right"><a href="/user/login" class="navbutton">LOGIN</a></li>


    </ul>
    <% include ./partials/image %>

    <div style="margin-top: 20px;">
      <div class="col-md-15">&nbsp;</div>
      <div class="col-md-15">&nbsp;</div>
        <div class="col-md-15">
          <div class="panel-heading">
              <h1 class="panel-title" style="font-size:30px">Quick Game</h1>
              <%if (typeof error != 'undefined'){ %>
                  <%= error %>
              <% } %>
          </div>
            <div class="panel-body">
                <form method="post" action="/quickgame">
                    <label>Your name </label>
                    <input type="text" class="form-control noborder" maxlength="20" name="name" id="name" required/>
                    <input type="submit" onClick='storeName()' class="btn btn-block mybutton" value="GO ! ! !">
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
      if (typeof window.localStorage.enclosureName!== 'undefined') {
        $('#name').attr("value", window.localStorage.enclosureName);
      }
      function storeName() {
        window.localStorage.enclosureName = $('#name').val();
      }
    </script>
</body>

</html>
