<% include ./partials/head %>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="navbar-left"><a href="/quickgame" class="navbutton">Quick Game</a></li>
        <li role="presentation" class="navbar-right"><a href="/user/login" class="navbutton">Log In</a></li>
    </ul>
    <% include ./partials/image %>

    <div style="margin-top: 20px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel-heading">
                <h1 class="panel-title" style="font-size:20px;">Register</h1>
                <% if (typeof errors != 'undefined'){ %>
                    <ul>
                    <% for (var i = 0; i < errors.length; i++){ %>
                        <li><%= errors[i] %></li>
                    <% } %>
                    </ul>
                <% } %>
            </div>
            <div class="panel-body">
                <form class="form-signin" method="post" action="/user/register">
                    <label>Email</label>
                    <input class="form-control noborder" maxlength="50" name="email" type="email" required />


                    <label style="margin-top: 15px;">User Name</label>
                    <input class="form-control noborder" maxlength="20" name="username" type="text" required />

                    <label style="margin-top: 15px;">Password</label>
                    <input type="password" class="form-control noborder" name="password1" pattern=".{8,20}" title="8 to 20 characters" required />
                    <label style="margin-top: 15px;">Confirm Password</label>
                    <input type="password" class="form-control noborder" name="password2" pattern=".{8,20}" title="8 to 20 characters" required />

                    <input type="submit" class="btn btn-block mybutton" value="Register" />
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>
