.mybutton {
    margin-top: 40px;
    padding-top: 10px;
    background-color: #eaec4b;
    border-bottom: 6px solid #a1a130;
    color: #888a34;
    font-size: 20px;
    border-radius: 0px;
    font-family: "fffforwa", Verdana, Tahoma;
}

.mybutton:hover {
    background: #fafc5b;
    color: #888a34;
    border-bottom: 6px solid #a1a130;
}

.noborder {
    border-radius: 0px;
}

.navbutton {
    color: white;
}

.navbutton:hover {
    color: black;
}

.nav-tabs>li>a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
}

.navbar-right {
    float: right!important;
    margin-right: 0px;
    font-family: "fffforwa", Verdana, Tahoma;
}
.navbar-left {
  font-family: "fffforwa", Verdana, Tahoma;
}

.col-md-15 {
    width: 20%;
    float: left;
}
table {
    margin-top: 10px;
    font-size: 1.3em;
}

.hoverTable tr:hover {
    background-color: #3a3a3a !important;
}

.blueHead {
    background: #3f51b5 !important;
}

.blueHead th {
    border-bottom: 5px solid #303f9f !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 2 !important;
    border-top: 1px solid #3a3a3a !important;
}
