.maxSize {
    position: absolute;
    width: 800px;
    height: 800px;
    left: 0;
    top: 0;
}

#mainCanvas,
#persistCanvas {
    background-color: transparent;
    border: solid 16px transparent;
}

#persistCanvasShadow {
    background-color: #cfd8dc;
    border: solid 16px #607d8b;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eceff1;
}

#scoreboard {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 200px;
    overflow-x: hidden;
    visibility: hidden;
}

#controller {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#actions {
    position: absolute;
    left: 50px;
    bottom: 50px;
    height: 50px;
}

.actionButton {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    background: #546E7A;
    background: -moz-linear-gradient(top, #607D8B, #546E7A);
    background: -webkit-linear-gradient(top, #607D8B, #546E7A);
    background: -ms-linear-gradient(top, #607D8B, #546E7A);
    background: -o-linear-gradient(top, #607D8B, #546E7A);
    background: linear-gradient(top, #607D8B, #546E7A);
    border: 3px solid #455A64;
}

.actionButton .actionIcon {
    width:80%;
    height:80%;
    position: relative;
    left:10%;
    top:10%;
}

.actionButton .indicator {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background: #455A64;
    opacity: 0.9;
}

.actionButtonActivated {
    width: 70px;
    height: 70px;
    position: relative;
    left: -10px;
    top: -10px;
    background: #F4511E;
    background: -moz-linear-gradient(top, #FF5722, #F4511E);
    background: -webkit-linear-gradient(top, #FF5722, #F4511E);
    background: -ms-linear-gradient(top, #FF5722, #F4511E);
    background: -o-linear-gradient(top, #FF5722, #F4511E);
    background: linear-gradient(top, #FF5722, #F4511E);
    border: 3px solid #F4511E;
}

.scoreboardEntry .txt {
    white-space: nowrap;
    display: inline-block;
    left: 5px;
    position: relative;
}
.scoreboardEntry {
    height: 20px;
    margin-top: 15px;
    background-color: #f44336;
    width: 50%;
    position: relative;
    left: 50%;
    box-shadow: 0 7px 0 #b71c1c;
    overflow: visible;
    padding-top: 5px;
    color: white;
    font-size: 11px;
    font-family: Helvetica;
    text-align: left;
}

#welcomeScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333333;
    top: 0%;
}

#welcomeScreen .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Headline {
    font-size: 3em;
    color: #fefefe;
    margin-bottom: 1em;
}
